.container{
    border: 2px solid blue;
    width: 50vw;
    height: 50vh;
    margin: auto;
}
form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    
    box-shadow: inset 1px 1px 0px 8px rgba(0, 0, 0, 0.1);
    background-color: #f1f1ff;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  form label {
    display: block;
    
    margin-bottom: 5px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
  }
  
  form input[type="date"] {
    color: #333; 
  }
  
  form button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  form textarea {
    resize: vertical; 
  }
  