h2{
    position: absolute;
    top: 3%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 30px;
    
}

    hr {
        border: 1px solid black; /* Add a visible border */
        width: 100%; /* Ensure it spans the container */
      }
      
